*{
    margin:0;
    font-family:arial;
    border:border-box;

}
.navbar{
    height:60px;
    background-color: black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav-logo{
    width: 100px;
    height:50px;
}
.logo{
    background-image:url(amazon_logo.png) ;
    height:50px;
    width:100%;
    background-size:cover;

}
.border{
    border:1px solid transparent;
}
.border:hover{
   border:1px solid white;
}
/* Box2 */
.del-add{
    font-family:sans-serif;
    color:#ccc;
    font-size:small;
    margin-left:15px;
}
.ind{
    font-size:large;
    margin-left:5px;

}
.add-icon{
    display:flex;

    align-items:center;
}
/* search box */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    height:40px;
    width: 620px;;
    border-radius:6px;
}
.Search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    border: none;
    
}
.search-input{
    width: 100%;
    border:none;
    font-size:1rem;

}
.search-icon{
    width:45px; 
    display:flex;
    justify-content:center;
    color:black;
    font-size:medium;
    align-items:center;
    background: color #febd68;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;

}
.nav-search:hover{
    border:2px solid #febd68;
}
/* box4 */
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
}
.cart i{
    font-size:30px;

}
.cart{
    font-size:0.85rem;
    font-weight:700;
}

/* Panel */
.panel{
    background-color: black;
    height:50px;
    color:white;
    display: flex;
    align-items:center;
    justify-content:space-evenly;

}
.panel-about p{
    display: inline;
    margin:20px;
}
.panel-about{
    width:70%;
    font-size:0.85rem;


}
.deals{
    font-size:0.9rem;
    font-weight: 700;
}


/* hero section */
.hero-section{
    background-image:url(hero_image.jpg) ;
    background-size: cover;
    height:400px;
    display: flex;
    justify-content:center;
    align-items:flex-end;

}
.hero-msg{
    background-color:white;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    width:90%;
    margin-bottom:25px;
}
.hero-msg a{
    color:lightblue;
}

/* shoping */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border:2px solid black;
    height:400px;
    width:24%;
    background-color:whitesmoke ;
    padding: 20px 0px 15px;
    margin-top:15px;
}
.box-image{
    height:350px;
    background-size: cover;
    margin-left:1rem;
    margin-right:1rem;
    align-items: center;

}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color:rgb(6, 145, 191);
}

/* footer */
.footer{
    margin-top:15px;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.85rem;
    display:flex;
    justify-content: space-evenly;
}
ul{
margin-top: 15px;
}
ul a{
    display: block;
    font-size:0.85rem;
    margin-top:10px;
    color:#ddd;
}

.foot-panel3{
    background-color:#37475a;
    color:white;
    border-top:0.5px solid white;
    height: 65px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo{
    background-image:url(amazon_logo.png) ;
    height:50px;
    width:100%;

}
